<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="UrlMapper2.ActiveIndex" set:value="sitecore_master_index" role:require="Standalone or ContentManagement" />
      <setting name="UrlMapper2.ActiveIndex" set:value="sitecore_web_index" role:require="ContentDelivery" />
      
      <setting name="UrlMapper2.UseProtocolHeaderForDefaultProcessor" set:value="false" />
      <setting name="UrlMapper2.ProtocolHeaderForDefaultProcessor" set:value="x-forwarded-proto" />

      <setting name="UrlMapper2.UseProtocolHeaderForJssProcessor" set:value="true" />
      <setting name="UrlMapper2.ProtocolHeaderForJssProcessor" set:value="x-forwarded-proto" />
    </settings>
  </sitecore>
</configuration>