<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration search:require="solr">
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="urlmapper_source_term" storageType="yes" indexType="untokenized" returnType="string">Unic.UrlMapper2.ContentSearch.ComputedFields.SourceTermComputedField, Unic.UrlMapper2</field>
              <field fieldName="urlmapper_target_url" storageType="yes" indexType="untokenized" returnType="string">Unic.UrlMapper2.ContentSearch.ComputedFields.TargetUrlComputedField, Unic.UrlMapper2</field>
              <field fieldName="urlmapper_site_name" storageType="yes" indexType="untokenized" returnType="string">Unic.UrlMapper2.ContentSearch.ComputedFields.SiteNameComputedField, Unic.UrlMapper2</field>
              <field fieldName="urlmapper_redirect_type" storageType="yes" indexType="untokenized" returnType="string">Unic.UrlMapper2.ContentSearch.ComputedFields.RedirectTypeComputedField, Unic.UrlMapper2</field>
              <field fieldName="urlmapper_source_protocol" storageType="yes" indexType="untokenized" returnType="string">Unic.UrlMapper2.ContentSearch.ComputedFields.SourceProtocolComputedField, Unic.UrlMapper2</field>
              <field fieldName="urlmapper_allow_embedded_language" storageType="yes" indexType="untokenized" returnType="bool">Unic.UrlMapper2.ContentSearch.ComputedFields.AllowEmbeddedLanguageComputedField, Unic.UrlMapper2</field>
              <field fieldName="urlmapper_regex_enabled" storageType="yes" indexType="untokenized" returnType="bool">Unic.UrlMapper2.ContentSearch.ComputedFields.RegexEnabledComputedField, Unic.UrlMapper2</field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>

        <defaultCloudIndexConfiguration search:require="Azure">
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="urlmapper_source_term">Unic.UrlMapper2.ContentSearch.ComputedFields.SourceTermComputedField, Unic.UrlMapper2</field>
              <field fieldName="urlmapper_target_url">Unic.UrlMapper2.ContentSearch.ComputedFields.TargetUrlComputedField, Unic.UrlMapper2</field>
              <field fieldName="urlmapper_site_name">Unic.UrlMapper2.ContentSearch.ComputedFields.SiteNameComputedField, Unic.UrlMapper2</field>
              <field fieldName="urlmapper_redirect_type">Unic.UrlMapper2.ContentSearch.ComputedFields.RedirectTypeComputedField, Unic.UrlMapper2</field>
              <field fieldName="urlmapper_source_protocol">Unic.UrlMapper2.ContentSearch.ComputedFields.SourceProtocolComputedField, Unic.UrlMapper2</field>
              <field fieldName="urlmapper_allow_embedded_language">Unic.UrlMapper2.ContentSearch.ComputedFields.AllowEmbeddedLanguageComputedField, Unic.UrlMapper2</field>
              <field fieldName="urlmapper_regex_enabled">Unic.UrlMapper2.ContentSearch.ComputedFields.RegexEnabledComputedField, Unic.UrlMapper2</field>
            </fields>
          </documentOptions>
          <fieldMap>
            <fieldNames>
              <field fieldName="urlmapper_source_term" cloudFieldName="urlmapper_source_term_1" type="System.String" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
              <field fieldName="urlmapper_target_url" cloudFieldName="urlmapper_target_url_1" type="System.String" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
              <field fieldName="urlmapper_site_name" cloudFieldName="urlmapper_site_name_1" type="System.String" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
              <field fieldName="urlmapper_redirect_type" cloudFieldName="urlmapper_redirect_type_1" type="System.String" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
              <field fieldName="urlmapper_source_protocol" cloudFieldName="urlmapper_source_protocol_1" type="System.String" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
              <field fieldName="urlmapper_allow_embedded_language" cloudFieldName="urlmapper_allow_embedded_language_1" type="System.Boolean" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
              <field fieldName="urlmapper_regex_enabled" cloudFieldName="urlmapper_regex_enabled_1" type="System.Boolean" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
            </fieldNames>
          </fieldMap>
        </defaultCloudIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>