<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <pipelines>

      <httpRequestBegin>
        <processor type="Unic.UrlMapper2.Pipelines.HttpRequestBegin.TryPerformRedirect, Unic.UrlMapper2">
          <allowedSites hint="list">
            <site>urlmapper-jss-app</site>
            <site>website</site>
          </allowedSites>
        </processor>
      </httpRequestBegin>

      <mvc.requestBegin>
        <processor type="Unic.UrlMapper2.Pipelines.MvcRequestBegin.TryPerformRedirectJss, Unic.UrlMapper2">
          <allowedSites hint="list">
            <site>urlmapper-jss-app</site>
            <site>website</site>
          </allowedSites>
        </processor>
      </mvc.requestBegin>
    </pipelines>
  </sitecore>
</configuration>