<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <sc.variable name="sourceFolder" set:value="_value_set_by_SetSourceFolder_target_" role:require="Standalone" />

    <unicorn>
      <configurations>
        <configuration name="UrlMapper2.Integration.Website" description="Contains all templates and items for a local testing setup. These items are not being shipped as part of the module.">

          <targetDataStore physicalRootPath="$(sourceFolder)\Unic.UrlMapper2.Integration.Website\serialization" />

          <predicate>
            <include name="API Keys" database="master" path="/sitecore/system/Settings/Services/API Keys" />

            <!-- Global Content -->
            <include name="Global Redirects" database="master" path="/sitecore/content/Redirects" />

            <!-- Integration Site -->
            <include name="Integration Site" database="master" path="/sitecore/content/Integration Site" />

            <!-- JSS Sample App -->
            <include name="JSS.T" database="master" path="/sitecore/templates/Project/urlmapper-jss-app" />
            <include name="JSS.R" database="master" path="/sitecore/layout/Renderings/Project/urlmapper-jss-app" />
            <include name="JSS.L" database="master" path="/sitecore/layout/Layouts/Project/urlmapper-jss-app" />
            <include name="JSS.PHS" database="master" path="/sitecore/layout/Placeholder Settings/Project/urlmapper-jss-app" />
            <include name="JSS.C" database="master" path="/sitecore/content/urlmapper-jss-app" />
            <include name="JSS.M" database="master" path="/sitecore/media library/urlmapper-jss-app" />

          </predicate>

          <dataProviderConfiguration enableTransparentSync="true" />

          <syncConfiguration updateLinkDatabase="true" updateSearchIndex="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>