<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone">

    <log4net>
      <root>
        <appender-ref ref="DefaultSeqAppender" />

        <priority value="DEBUG" />
      </root>

      <logger name="Sitecore.Diagnostics.Publishing">
        <appender-ref ref="SeqAppender"/>
      </logger>

      <logger name="ClientRoot">
        <appender-ref ref="SeqAppender"/>
      </logger>

      <logger name="Sitecore.Diagnostics.Search">
        <appender-ref ref="SeqAppender"/>
      </logger>

      <logger name="Sitecore.Diagnostics.Crawling">
        <appender-ref ref="SeqAppender"/>
      </logger>

      <logger name="Sitecore.Owin.Diagnostics">
        <appender-ref ref="SeqAppender"/>
      </logger>

      <logger name="Sitecore.Analytics.Aggregation">
        <appender-ref ref="SeqAppender"/>
      </logger>

      <logger name="Sitecore.Xdb.Processing.ContactMerge.Logger">
        <appender-ref ref="SeqAppender"/>
      </logger>

      <logger name="Sitecore.FXM.Diagnostics">
        <appender-ref ref="SeqAppender"/>
      </logger>

      <logger name="Sitecore.EDS">
        <appender-ref ref="SeqAppender"/>
      </logger>

      <logger name="Sitecore.EXM">
        <appender-ref ref="SeqAppender"/>
      </logger>

      <logger name="Sitecore.Diagnostics.Crawling">
        <appender-ref ref="SeqAppender"/>
      </logger>

      <logger name="Sitecore.Diagnostics.Crawling">
        <appender-ref ref="SeqAppender"/>
      </logger>

      <logger name="Sitecore.Diagnostics.Crawling">
        <appender-ref ref="SeqAppender"/>
      </logger>

      <logger name="Sitecore.Diagnostics.Crawling">
        <appender-ref ref="SeqAppender"/>
      </logger>

      <appender name="DefaultSeqAppender" type="Unic.UrlMapper2.Integration.Website.Logging.Log4Net.SeqAppender, Unic.UrlMapper2.Integration.Website" >
        <filter type="log4net.Filter.NDCFilter">
          <stringToMatch value="Serilog-Log4NetSink" />
          <acceptOnMatch value="false" />
        </filter>
        <bufferSize value="20" />
        <serverUrl value="$(seqServerUrl)" />
        <application value="$(seqApplication)" />
        <environment value="$(seqEnvironment)" />
        <category value="Sitecore.Diagnostics.Log" />
      </appender>

      <appender name="SeqAppender" type="Unic.UrlMapper2.Integration.Website.Logging.Log4Net.SeqAppender, Unic.UrlMapper2.Integration.Website" >
        <filter type="log4net.Filter.NDCFilter">
          <stringToMatch value="Serilog-Log4NetSink" />
          <acceptOnMatch value="false" />
        </filter>
        <bufferSize value="20" />
        <serverUrl value="$(seqServerUrl)" />
        <application value="$(seqApplication)" />
        <environment value="$(seqEnvironment)" />
      </appender>
    </log4net>

  </sitecore>
</configuration>